header .jumbotron {
    background-color: #fff;
    background-image: url("../images/site-background-header.png");
    padding: 0;
}

header .jumbotron .container {
    background-image: url("../images/site-header.png");
    background-repeat: no-repeat;
    height: 160px;
    z-index: 999;
}
.jumbotron .container {
    max-width: 100%;
}

header .navbar {
    margin: 0;
    min-height: 0;
}

header .navbar-inverse .navbar-inner {
    background-color: #00418d;
    filter: none;
}
header .navbar .navbar-inner {
    background-color: #00418d;
    background-image: none;
    color: #fff;
}
header .navbar-inner {
    border: 0 none;
    border-radius: 0;
    color: white;
    padding: 0;
}

header .navbar .nav {
    float: right;
}

.navbar-default {
    border-color: #d5d5d5;
}
.navbar-default {
    border-radius: 0;
}

footer {
    background-color: #eee;
    margin-top: 40px;
}
footer {
    padding-top: 1em;
}

footer .footer-bottom p {
    color: #b7b8bb;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

div.nav li {
    display: inline-block;
    margin-left: 6px;
}

header .navbar .nav li a {
    color: #d1d3d4;
}

header .navbar .nav li a:hover {
	background-color: #00418d;
    color: #fff;
    text-decoration: underline;
}

.tooltipright .tooltip{
	min-width: 300px;
}

.bootbox .modal-body {
    background-color: #337ab7;
    color: #fff;
    text-align: center;
}

.bootbox .modal-footer {
    background-color: #fff;
    text-align: center;
}

.bootbox .modal-dialog {
    padding-top: 200px;
}

.nav-tabs li.active a {
    background-color: lightgray !important;
}

.nav-tabs li a {
    background-color: #eeeeee !important;
}

.well{
	background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-header {
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.nav-list > li > a {
    padding: 3px 15px;
}

/*a:focus {
    background-color: #0088cc;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}*/

.well .btn{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.well .btn-large{
    border-radius: 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}


#logo a {
    background: rgba(0, 0, 0, 0) url("../images/logo_maehc.png") no-repeat scroll left top;
    display: block;
    height: 63px;
    text-indent: -9999px;
    width: 257px;
}
#logo {
    float: left;
    margin: 40px 0 0;
}

.button-link {
    background: #415870 url("../images/gradient_blue.gif") repeat-x scroll left bottom;
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 #ababab;
    color: #f3f3f3 !important;
    /*display: inline-block;*/
    font-size: 14px;
    line-height: 18px;
    padding: 7px 10px;
    text-decoration: none !important;
}

.loginbox {
    border: 1px solid #717379;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #717379;
    height: auto;
    padding: 30px;
}

.table-responsive table tr td {
    white-space: nowrap;
    font-size: 12px;
}

.table-responsive table tr th {
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
}

.hiddenText {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

a.ext-icon {
    background: rgba(0, 0, 0, 0) url("../images/extlink.png") no-repeat scroll right center;
    display: inline-block;
    height: 10px;
    padding: 0 2px 0 1px;
    width: 10px;
}

.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    left: 0;
    line-height: 1.42857;
    padding: 3px 20px;
    position: relative;
    top: 0;
    white-space: nowrap;
    width: 100%;
}

.external-page {
    position: absolute;
    right: 5px;
    top: 1px;
}

.firefox_fix {
    position: relative;
}

.modify-pages li {
    position: relative;
}

ul {
    list-style: outside none disc;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    background-color: #e8e8e8;
    /*background-image: linear-gradient(to bottom,#f5f5f5 0%,#e8e8e8 100%);
    background-repeat: repeat-x;*/
}

#resurl{
    text-decoration: none;
    cursor: text;
}
.headclass:hover{
    text-decoration: none;
    cursor: text;
}



/**
new CSS Starts here for angular js
 */

.navbar-default[_ngcontent-vni-17] {
    border-radius: 0
}

.navbar[_ngcontent-vni-17] {
    margin: 0 auto
}

header[_ngcontent-vni-17]   .navbar-inner[_ngcontent-vni-17] {
    padding: 0;
    border: 0;
    border-radius: 0;
    color: #fff
}

header[_ngcontent-vni-17]   .navbar[_ngcontent-vni-17] {
    margin: 0;
    min-height: 0
}

header[_ngcontent-vni-17]   .navbar[_ngcontent-vni-17]   .nav[_ngcontent-vni-17] {
    float: right
}

header[_ngcontent-vni-17]   .navbar[_ngcontent-vni-17]   .nav[_ngcontent-vni-17] li[_ngcontent-vni-17] a[_ngcontent-vni-17] {
    color: #d1d3d4
}

header[_ngcontent-vni-17]   .navbar[_ngcontent-vni-17]   .nav[_ngcontent-vni-17] li[_ngcontent-vni-17] a[_ngcontent-vni-17]:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #00418d
}

header[_ngcontent-vni-17]   .navbar[_ngcontent-vni-17]   .navbar-inner[_ngcontent-vni-17] {
    background-color: #00418d;
    background-image: none;
    color: #fff
}

header[_ngcontent-vni-17]   .navbar-inverse[_ngcontent-vni-17]   .navbar-inner[_ngcontent-vni-17] {
    background-color: #00418d;
    -webkit-filter: none;
    filter: none
}
footer[_ngcontent-vni-31] {
    padding-top: 1em;
    margin-top: 40px;
    background-color: #eee
}

footer[_ngcontent-vni-31]    .footer-link-btn {
    padding: 0 !important
}
modal[_ngcontent-vni-29]    .release-notes-modal-dialog {
    width: 90% !important;
    overflow-y: auto !important
}
.site-header[_ngcontent-vni-33] {
    background: url(../images/site/bg-header-1920x170.png) repeat-x top #1fdbfe
}

.site-logo[_ngcontent-vni-33] {
    padding: 15px 15px 15px 10px;
    margin-left: 25px;
    margin-right: 25px
}

.site-welcome-overview[_ngcontent-vni-3] {
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid #036
}

.site-welcome-overview[_ngcontent-vni-3] h1[_ngcontent-vni-3] {
    color: #036;
    font-weight: 600
}

.header-description[_ngcontent-vni-3] {
    padding: 0 5px 50px
}

.featurestable[_ngcontent-vni-1] {
    width: 100%;
    height: 100%
}

.featurestable[_ngcontent-vni-1] table {
    margin: 0 auto;
    width: 100%
}

.featurestable[_ngcontent-vni-1] thead th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px
}

.featurestable[_ngcontent-vni-1] tbody {
    overflow: auto;
    width: 100%
}

.featurestable[_ngcontent-vni-1] tr:nth-child(2n) {
    background-color: #f8f8f8
}

.featurestable[_ngcontent-vni-1] td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px
}



.sandbox-block {
    color: #036;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.sandbox-block:hover {
    text-decoration: none !important;
    background: #ddd
}

.sandbox-block a {
    color: #036;
    text-decoration: none !important
}

.sandbox-block span {
    display: block;
    font-weight: 500;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.1;
    margin: 10px 0;
    color: inherit;
    font-size: 14px;
    white-space: normal
}

.sandbox-block .caption-head {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center
}

.sandbox-block .caption-body {
    font-size: 14px;
    text-align: center
}

.sandbox-block .glyphicon {
    font-size: 50px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    line-height: 1
}

.sandbox-block h4 {
    white-space: normal
}

.interactive-thumbnail.active {
    background: #ddd
}

.col .glyphnail {
    height: 350px
}

.validation-modal-dialog {
    width: 90% !important
}

.modal, .validation-modal-dialog {
    overflow-y: auto !important
}

.validation-form-group {
    padding: 25px
}

a.ext-icon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAJUExURZmZmczMzAAAANmeCzsAAAADdFJOU///ANfKDUEAAAAySURBVHjaTIxRDgAACEHp/oeOtJYPe02gJEQiIvf5RgzK6B/jUHoE7dNwehP1JowtwAAXDABpSdB7KgAAAABJRU5ErkJggg==) 100% no-repeat;
    padding: 0 2px 0 1px;
    width: 10px;
    height: 10px;
    display: inline-block
}

.embedded {
    position: relative;
    right: 5px;
    z-index: 100;
    float: right;
    margin-top: -35px
}

.external-page {
    top: 1px;
    right: 5px
}

.hiddenText {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.sandbox-container {
    padding-left: 0;
    list-style: none
}

@media (min-width: 768px) {
    .sandbox-container li {
        float: left;
        width: 50%;
        height: 260px;
        border: 1px solid #e6e6e6
    }
}

@media (max-width: 767px) {
    .sandbox-container li {
        border: 1px solid #e6e6e6
    }
}

.spacer {
    margin-top: 40px
}

.vertical-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 80px
}

div.blockMsg {
    width: 100%;
    text-align: center;
    background-color: #fefefe;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15% auto
}

body {
    font-family: Arial, sans-serif
}

.resultpopover {
    max-width: 500px !important;
    padding: 10px !important;
    left: 800px !important
}

.result-title, .resultpopover, .resultPopoverBackground {
    background-color: beige
}

.result-title {
    font-weight: 700
}

.breadcrumb {
    padding: 0;
    list-style: none;
    background-color: #f8f8f8;
    margin: 0 0 5px 30px
}

.link-button-nowrap {
    white-space: normal !important
}


.sandbox-block .siteglyphs {
    font-size: 65px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-family: SITE-glyphs;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



