.KelpJSONView {
	/*width: 100%;*/
	overflow: auto;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	background-color: #f5f5f5;
}
.KelpJSONView ol li {
	white-space: nowrap;
	line-height: 12px;
}
.jsonhighlight {
	background-color: #eee;
}
.jsonname {
	color: #555;
}
.jsonstring {
	color: #268BD2;
}
.jsonnull {
	color: #d63Bd2;
}
.jsonnumber {
	color: #964B32;
}
.jsonboolean {
	color: #b64B72;
}
.jsontag {
	color: #999;
}