<div class="col-md-6">
    <legend>Change Password</legend>
    <h5 id="resetoldpassworderror"></h5>
    <form class="form-horizontal" id="resetpassword">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Old Password:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="resetoldpassword" name="resetoldpassword">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">New Password:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="resetnpassword" name="resetnpassword">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Confirm Password:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="resetcpassword" name="resetcpassword">
            </div>
        </div>
        <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <ul style="padding-left:15px;font-size:12px;">
                                <li>Password must be at least 8 characters long.</li>
                                <li>Must include one uppercase, one lowercase, one special character and one number.
                                </li>
                            </ul>
                        </div>
                    </div>
                 
       
        <input type="submit" class="btn btn-success btn-sm center-block" value="Update" id="updateresetpassword"/>
    </form>
</div>