.mat-card {
  margin: 20px 30px;
}

.example-full-width {
  width: 80%;
  float: left;
}

// .example-form {
//   min-width: 150px;
//   max-width: 600px;
//   width: 90%;
// }
.infotext {
  padding-top: 20px;
}

.urlInformation h3 {
  text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: column; // align-items:baseline;
  // justify-content:center;
}

.mode {
  padding: 10px;
  width: 100%;
}

.fhirurl {
  padding: 10px;
  width: 100%;
}

// .savebtn {
//   width: 100px;
// }
// .securebtn {
//   margin-left: 30px;
// }
.dropdown-menu li a {
  cursor: pointer;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center; // height: 60px;
}

.trymediv p {
  margin-top: 20px;
}

.secureServerInfo {
  margin-top: 20px;
}

@media(max-width:800px) {
  .trymediv {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .securebtn {
    margin-top: 20px;
  }
}

span {
  padding-top: 8px;
  font-weight: 600;
}

.mat-expansion-panel-header-title {
  min-width: 400px;
  max-width: 400px;
}

.openserver p {
  font-size: 13px;
  font-weight: bold;
  margin: 0%;
  padding-left: 25px;
  padding-top: 8px;
}

.openserver {
  padding: 20px 15px;
}

.openserver .mat-raised-button {
  width: 100%
}

.openserver h4 {
  margin-top: 22px;
}

.placeholderInformation p {
  padding-left: 0px;
  padding-top: 20px;
  font-weight: normal;
}

.mat-expanded .mat-expansion-panel-body .mat-input-container.mat-form-field .mat-input-wrapper.mat-input-underline.mat-form-field-underline {
  bottom: 1.25em;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .42);
}
