<div class="title">
  <h1 class="header-title">Extract Data</h1>
</div>
<div class="table-container">
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z4">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let group">
        {{group.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Group Name</mat-header-cell>
      <mat-cell *matCellDef="let group">
        {{group.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="patientList">
      <mat-header-cell *matHeaderCellDef>List of Patients</mat-header-cell>
      <mat-cell *matCellDef="let group">
        {{group.patientList}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let group">
        {{group.status}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let group">
        <!-- {{group.dob}} -->
        <button mat-raised-button color="primary" (click)="extractByGroup(group);" [disabled]="group.exported">Extract</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
      <mat-cell *matCellDef="let group">
        <!-- <a (click)="getSelectedNdJson();">Patient.ndjson</a> -->
        <div *ngFor="let item of group.data" class="resourceContainer">
          <a href="{{item.resourceLink}}">
            <i class="material-icons">insert_drive_file</i> {{item.resourceName}}</a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" class="mat-elevation-z4">
  </mat-paginator>

  <app-loading [isLoading]="isLoadingResults"></app-loading>
</div>
