<div class="panel panel-default">
  	<div class="panel-heading">Backend Client Registration</div>
  		<div class="panel-body">
    		<form class="form-horizontal" id="registerbackendclientdetails">
    			<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Client App Name:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="clientappname" data-toggle="tooltip" data-original-title='' data-fv-notempty name="clientappname">
					</div> 							
    			</div>
    			<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Organization:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="organization" data-toggle="tooltip" data-original-title='' data-fv-notempty name="organization">
					</div> 							
    			</div>
    			<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Client Issuer URL:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="issuerurl" data-toggle="tooltip" data-original-title='' data-fv-notempty name="issuerurl">
					</div> 							
    			</div>
    			<div class="form-group fileGroup">
    				<label for="inputEmail3" class="col-sm-3 control-label">Public Key:</label>
				    <input type="file" class="file" name="publickey" data-fv-notempty data-fv-notempty-message="Public Key is required" data-fv-file="true" data-fv-file-extension="cer,der,pem" data-fv-file-message="The selected file is not valid">
				    <div class="uploadfile input-group col-sm-5">
				      	<input type="text" class="form-control input-lg" disabled placeholder="Upload Public Key">
				      	<span class="input-group-btn">
					        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
					     </span>
				    </div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Scope:</label>
					<div class="col-sm-5 regbackendscopes">
				    		<div class="checkbox">
								<label><input class="regscopesclass styled" type="checkbox" name="scopes[]" value="system/*.read" onchange="removeerror();">system/*.read</label>
							</div>
							<div class="checkbox">
								<label><input class="regscopesclass styled" type="checkbox" name="scopes[]" value="systen/Group.write" onchange="removeerror();">systen/Group.write</label>
							</div>
						</div>
					<div class="col-md-4"></div>
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<p id="backendscopeserror" style="text-align:center;margin-top:20px;font-size:12px;color:#a94442;" class="center-block"></p>
					</div>
    			</div>
    			<input type="submit" class="btn btn-primary center-block ladda-button" data-spinner-color="#fff" data-size="s" data-style="expand-right" id="registerbackendcli" style="width:100px;" value="Register" />
    		</form>
  		</div>
	</div>