<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align-last: center;">Delete Client</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="deleteclientformhtml">
  					 <div>
					    
					    	<p style="text-align:center;">Do you want to delete client <span id="deleteclientname">?</span></p>
					 
					    <div class="col-md-6">
							<p id="editscopeserror" style="text-align:center;margin-top:20px;font-size:12px;color:#a94442;" class="center-block"></p>
						</div>					
					</div>

  					<input type="submit" style="margin:0; padding:4px;" class="btn btn-primary center-block ladda-button" data-spinner-color="#fff" data-size="s" data-style="expand-right" id="deleteregistercli" value="Delete"/>
  			</form>
      </div>
    </div>
</div>