.mat-toolbar {
  height: 75px;
  background: url('../../../assets/images/bg-header-1920x170.png');
}

.content-wrapper {
  // width: 1170px;
  // margin-left: auto;
  // margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-image {
  width: 200px;
  height: 70px;
}

.site-header {
  background: url("../../../assets/images/site/bg-header-1920x170.png") repeat-x center top #1fdbfe;
  // min-width: 1498px;
}

// .site-logo {
//   padding: 15px 15px 15px 10px;
//   margin-left: 25px;
//   margin-right: 25px;
// }
