<mat-card>
  <mat-card-title>Welcome to Bulk API Client</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="flex-row-container">
      <div class="information">
        <h1>Information about the Bulk API client</h1>
        <p>Bulk API client can be used to view the list of Patients and select to create a panel that can be used for extraction.
          Once a panel is created use the Extract tab to retrieve the data for specific panels.</p>
      </div>
      <div class="instructions">
        <h1>Instructions to use the Bulk API client</h1>
        <ol style="margin:0px;padding-left:15px;">
          <li>Select Patient panel tab to view the list of patients.</li>
          <li>From the Patient panel select patients and create Group.</li>
          <li>Select the Extract tab to view the list of created Groups.</li>
          <li>Click on Extract button to get the bulk data of a particular Group.</li>
          <li>List of resources will be available to download on completion of Bulk data request.</li>
        </ol>
      </div>
    </div>
  </mat-card-content>
</mat-card>
