.resourceContainer {
  padding: 0px;
}

.resourceContainer .material-icons {
  font-size: 12px;
}

.resourceContainer a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.resourceContainer span {
  background: #fff;
  padding: 0px;
}
