@import 'custom-theme';
$light-header: #a5cdf4;
$color-black: #000;
$color-white: #fff;
$color-light-black: #a3a3a3;
$color-bright-violet: #E040FB;
$color-data: #8594a8;
$color-outlines: #e6eaee;
$color-bright-green: #8dd32e;
$color-violet: #9400d3;
$scenario-header-background: #f9f6f7;
