
/*.mat-step-icon{
   
}
.mat-horizontal-stepper-header .mat-step-icon, .mat-horizontal-stepper-header .mat-step-icon-not-touched{
   
}*/
.mat-step-header .mat-step-icon {
   
    color: #fff;
}
.resourceContainer {
    padding: 0px;
  }
  
  .resourceContainer .material-icons {
    font-size: 12px;
  }
  
  .resourceContainer a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  .resourceContainer span {
    background: #fff;
    padding: 0px;
  }
.mat-step-icon, .mat-step-icon-not-touched {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: green;
}
/*.stepdiv {
    .mat-step-icon, .mat-step-icon-not-touched {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: green;
    }
}*/

 .mat-horizontal-stepper-header .mat-step-icon {
    background-color: #3c763d;
    color: #fff;
}

// }