<footer class="hidden-print">
  <div class="container" role="contentinfo">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-left">
        <div class="col-md-12">
          <app-version></app-version>
        </div>
        <div class="col-md-12">
          <app-news-announcements></app-news-announcements> |
          <app-release-notes></app-release-notes>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <div class="col-md-12">
          Inquiries or questions, email
          <a href="mailto:SITTeam@hhs.gov">SITTeam@hhs.gov</a>
        </div>
        <div class="col-md-12">
          <a href="http://www.hhs.gov/Privacy.html">Privacy Policy
          </a> |
          <a href="http://www.hhs.gov/Disclaimer.html">Disclaimers</a>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-12 col-md-6 text-left">

      </div>
      <div class="col-sm-12 col-md-6 text-right">

      </div>
    </div> -->
  </div>
</footer>
