<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">

		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="css/fhir.css" rel="stylesheet" type="text/css" />
		<link href="css/ladda.min.css" rel="stylesheet" type="text/css" />
		<link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	
    	<title>FHIR Client</title>
	</head>
	<body onload="loadPatients();">
		<!-- <nav class="navbar navbar-default navbar-fixed-top" style="height:70px;">
	      	<div class="container" style="color:#777777;font-size:22px;padding-top:20px;">
	        	SITE FHIR Server
	      	</div>
	    </nav> -->
	    <header> 
			<div class="jumbotron"> 
				<div class="container"></div> 
			</div> 
		</header>
		<div class="container" style="margin-top:30px;">
			<table id="example" class="display" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>S No</th>
		                <th>Name</th>
		                <th>Date of Birth</th>
		            </tr>
		        </thead>
		        <tbody>
		            <!-- <tr>
		            	<td>1</td>
		                <td>Tiger Nixon</td>
		                <td>2011/04/25</td>
		            </tr> -->
		        </tbody>
    		</table>

	    </div>
		<footer style="background-color: #eee;position:fixed;bottom: 0;width: 100%;"> <div role="contentinfo" class="container"> <div class="row"> <div> <p>This project was funded by a contract from the <a tabindex="100" href="http://www.healthit.gov">Office of the National Coordinator for Health Information Technology (ONC)</a></p> <p><a tabindex="100" href="http://www.hhs.gov/Privacy.html">Privacy Policy</a> | <a tabindex="100" href="http://www.hhs.gov/Disclaimer.html">Disclaimer</a></p> </div> </div> </div> </footer>

		<script src="js/jquery/jquery-1.11.1.js"></script>
		<script src="js/bootstrap.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
		<script src="js/bootbox.js"></script>
		<script src="js/FHIRresources.js"></script>
		<script src="js/searchparameters.js"></script>
		<script src="js/url.js"></script>
		<script src="js/users.js"></script>
		<script src="js/formValidation.js"></script>
		<script type="text/javascript" src="js/framework/bootstrap.js"></script>
		<script src="js/spin.js"></script>
		<script src="js/ladda.js"></script>
		<script src="js/ladda.jquery.js"></script>
		<script src="js/clients.js"></script>
		<script type="text/javascript">
			var transactId = "";
			$(document).ready(function() {
			    //$('#example').DataTable();
			    /*$('#example').DataTable( {
					"bLengthChange": false,
					"bPaginate": false,
					"bFilter":false,
					"info":false
				} );*/
			console.log(getParameterByName("transaction_id"));
			transactId = getParameterByName("transaction_id");
			} );
			
			getParameterByName = function(name, url) {
			    if (!url) url = window.location.href;
			   // url = url.toLowerCase(); // This is just to avoid case sensitiveness  
			    name = name.replace(/[\[\]]/g, "\\$&");// This is just to avoid case sensitiveness for query parameter name
			    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			        results = regex.exec(url);
			    if (!results) return null;
			    if (!results[2]) return '';
			    return decodeURIComponent(results[2].replace(/\+/g, " "));
			}
			loadPatients = function(){
				$('#example').dataTable({
	    			"bLengthChange": false,
					"bPaginate": false,
					"bFilter":false,
					"info":false,
					"ajax":geturl()+"/authorize/launchpatient",
	    			//"ajax":"https://fhirtest.sitenv.org/hapi-resprint/authorize/launchpatient",
	    			"sAjaxDataProp": "",
	     			"columns": [{
	     					"data": function (data, type, row) {
				               var userpoc = "<div onclick='patientId("+data.id+")' class='col-md-12' style='cursor:pointer'>"+data.id+"</div>";
				               return userpoc;
				           }
	       				},{
	       					"data": function (data, type, row) {
				               var userpoc = "<div onclick='patientId("+data.id+")' class='col-md-12' style='cursor:pointer'>"+data.fullName+"</div>";
				               return userpoc;
				           }
	       				},{
	       					"data": function (data, type, row) {
				               var userpoc = "<div onclick='patientId("+data.id+")' class='col-md-12' style='cursor:pointer'>"+data.birthDate+"</div>";
				               return userpoc;
				           }
	       				}
	       			]
	   			});
			}

			patientId = function(id){

				$.ajax({
					url:geturl()+"/authorize/launchpatient?id="+id+"&transaction_id="+transactId+"",
					//url:"https://fhirtest.sitenv.org/hapi-resprint/authorize/launchpatient?id="+id+"&transaction_id="+transactId+"",
					contentType: 'application/json', 
					type:"POST",
					 success:function(data){
						console.log(data.redirect_url);
						window.location.replace(data.redirect_url);
					},
					error:function(e){
						console.log(e);
					} 
				});

			}
		</script>
	</body>
</html>
