<div class="menu-items">
  <!-- <p class="sidebar-menu">Menu</p> -->
  <mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a mat-list-item routerLink="/run-test" routerLinkActive="active">
      <mat-icon>play_arrow</mat-icon>
      <span>Bulk Data API's Simulation</span>
    </a>
    <a mat-list-item routerLink="/config" routerLinkActive="active">
      <mat-icon>settings_applications</mat-icon>
      <span>Execute Bulk Data API's</span>
    </a>
    <!-- <a mat-list-item routerLink="/patient-panel" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Manage Groups</span>
    </a> -->
    <!-- <a mat-list-item routerLink="/extract" routerLinkActive="active">
      <mat-icon>import_export</mat-icon>
      <span>Bulk Data Extract</span>
    </a> -->
  </mat-nav-list>
</div>
