<mat-card>
  <mat-card-title>
    <h2>Bulk Data Extract API's.</h2>
    <p>Base url: https://fhirtest.sitenv.org/open-fhir/fhir</p>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-accordion>
      <!-- Export All Patients-->
      <mat-expansion-panel class="row" (click)="expandPanel('exportAll')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>GET</span>
            <p>
              <b>/fhir-base-url/Patient/$export</b>
            </p>
          </mat-panel-title>
          <mat-panel-description>
            Extract all Patients
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr style="margin: 1px">
        <div class="row requestBody">
          <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="exportAll()" class="postbtn">Execute </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row requestBody" *ngIf="displayExtractAll">
          <div class="col-md-3">
            <p>Status Code:</p>
          </div>
          <div class="col-md-9">
            <p>{{extractAllResponseCode}}</p>
          </div>
          <div class="col-md-3">
            <p>Response Body:</p>
          </div>
          <div class="col-md-9">
            <pre>{{extractAllResponse|json}}</pre>
          </div>
          <div class="col-md-3">
            <p>ndjson Response Data:</p>
          </div>
          <div class="col-md-9">
            <div *ngFor="let item of extractAllData" class="resourceContainer col-md-3">
              <span>
                <a (click)="getSelectedNdJson(item.resourceName,item.resourceLink);">
                  <i class="material-icons">insert_drive_file</i> {{item.resourceName}}</a>
              </span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- Export By Group Id-->
      <mat-expansion-panel class="row" (click)="expandPanel('exportByGroupId')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Get</span>
            <p>
              <b>/fhir-base-url/Group/id/$export</b>
            </p>
          </mat-panel-title>
          <mat-panel-description>
            Extract subset of patients using Group Id, which is useful to deal with Patient Panels
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr style="margin: 1px">
        <div class="row">
          <div class="col-md-4 groupIDForm">
            <form [formGroup]="groupIDForm">
              <mat-form-field>
                <input matInput id="groupId" formControlName="groupId" placeholder="Enter Group ID">
                <mat-error *ngIf="groupIDForm.controls['groupId'].errors?.required">
                  Please enter Group Id.
                </mat-error>
              </mat-form-field>
              <p>Please enter GroupId 2,3 or 4.</p>
            </form>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" (click)="getdetails()">Execute </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12 requestBody" *ngIf="displayResponse">
          <div class="col-md-3">
            <p>Status Code</p>
          </div>
          <div class="col-md-9">
            <p>{{responseCode}}</p>
          </div>
          <div class="col-md-3">
            <p>Response</p>
          </div>
          <div class="col-md-9">
            <pre>
            {{response|json}}
          </pre>
          </div>
          <div class="col-md-3">
            <p>ndjson Response Data</p>
          </div>
          <div class="col-md-9">
            <div *ngFor="let item of extractData" class="resourceContainer col-md-3">
              <span>
                <a (click)="getSelectedNdJson(item.resourceName,item.resourceLink);">
                  <i class="material-icons">insert_drive_file</i> {{item.resourceName}}</a>
              </span>

            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- With Parameters-->
      <mat-expansion-panel class="row" (click)="expandPanel('exportWithParams')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>GET</span>
            <p>
              <b>/fhir-base-url/Patient/$export/`_since`&`_type`</b>
            </p>
          </mat-panel-title>
          <mat-panel-description>
            Extract Patient Data using Date (from a specific point in time) and Resource Type
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr style="margin: 1px">
        <div class="row requestBody">
          <div class="" style="width:12.75%; float:left;padding:0px 15px;">
            <p>Parameters:</p>
          </div>
          <div class="paramsForm" style="width:87.25%; float:left;padding:0px 15px;">
            <!-- <p>_since=1960-01-01</p>
            <p>_type=AllergyIntolerance,Condition,Observation,Medication</p> -->
            <form [formGroup]="paramsForm">
              <div class="params" style="width:50%; float:left;padding:0px 15px;">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Select Date" formControlName="sincedate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="params" style="width:50%; float:left;padding:0px 15px;">
                <mat-form-field>
                  <mat-select placeholder="Select Resources" formControlName="resources" multiple>
                    <mat-option *ngFor="let resource of resourcesList" [value]="resource">{{resource}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary" class="postbtn" (click)="exportUsingParams()">Execute </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row requestBody" *ngIf="displayParamsResponse">
          <div class="col-md-3" style="width:33.33%; float:left;padding:0px 15px;">
            <p>Status Code:</p>
          </div>
          <div class="col-md-9" style="width:66.66%; float:left;padding:0px 15px;">
            <p>{{exportUsingParamsCode}}</p>
          </div>
          <div class="col-md-3" style="width:33.33%; float:left;padding:0px 15px;">
            <p>Response</p>
          </div>
          <div class="col-md-9" style="width:66.66%; float:left;padding:0px 15px;">
            <pre>
              {{exportUsingParamsResponse|json}}
            </pre>
          </div>
          <div class="col-md-3" style="width:33.33%; float:left;padding:0px 15px;">
            <p>ndjson Response Data</p>
          </div>
          <div class="col-md-9" style="width:66.66%; float:left;padding:0px 15px;">
            <div *ngFor="let item of extractParamsData" class="resourceContainer col-md-3">
              <span>
                <a (click)="getSelectedNdJson(item.resourceName,item.resourceLink);">
                  <i class="material-icons">insert_drive_file</i> {{item.resourceName}}</a>
              </span>

            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- Group With Parameters-->
      <mat-expansion-panel class="row" (click)="expandPanel('exportGroupWithParams')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>GET</span>
            <p>
              <b>/fhir-base-url/Group/`id`/$export/`_since`&`_type`</b>
            </p>
          </mat-panel-title>
          <mat-panel-description>
            Extract subset of Patients using Group Id, Date(from a specific point in time) and Resource Type
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr style="margin: 1px">
        <div class="row requestBody" style="margin-top:20px;">
          <div class="" style="width:12.75%;float:left;padding:0px 15px;">
            <p>Parameters:</p>
          </div>
          <div class="groupParamsForm" style="width:87.25%; float:left;padding:0px 15px;">
            <form [formGroup]="groupParamsForm">
              <div class="params" style="width:33.33%; float:left;padding:0px 15px;">
                <mat-form-field>
                  <input matInput id="groupId" formControlName="groupId" placeholder="Enter Group ID">
                  <mat-error *ngIf="groupIDForm.controls['groupId'].errors?.required">
                    Please enter Group Id.
                  </mat-error>
                </mat-form-field>
                <p style="margin:0px;font-size: 12px;">Please enter GroupId 2,3 or 4.</p>
              </div>
              <div class="params" style="width:33.33%; float:left;padding:0px 15px;">
                <mat-form-field>
                  <input matInput [matDatepicker]="groupdatepicker" placeholder="Select Date" formControlName="sincedate">
                  <mat-datepicker-toggle matSuffix [for]="groupdatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #groupdatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="params" style="width:33.33%; float:left;padding:0px 15px;">
                <mat-form-field>
                  <mat-select placeholder="Select Resources" formControlName="resources" multiple>
                    <mat-option *ngFor="let resource of resourcesList" [value]="resource">{{resource}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary" class="postbtn" (click)="exportGroupUsingParams()">Execute </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row requestBody" *ngIf="displayGroupParamsResponse">
          <div class="col-md-3" style="width:33.33%; float:left;padding:0px 15px;">
            <p>Status Code:</p>
          </div>
          <div class="col-md-9" style="width:66.66%; float:left;padding:0px 15px;">
            <p>{{exportUsingGroupParamsCode}}</p>
          </div>
          <div class="col-md-3" style="width:33.33%; float:left;padding:0px 15px;">
            <p>Response</p>
          </div>
          <div class="col-md-9" style="width:66.66%; float:left;padding:0px 15px;">
            <pre>
                {{exportUsingGroupParamsResponse|json}}
              </pre>
          </div>
          <div class="col-md-3" style="width:33.33%; float:left;padding:0px 15px;">
            <p>ndjson Response Data</p>
          </div>
          <div class="col-md-9" style="width:66.66%; float:left;padding:0px 15px;">
            <div *ngFor="let item of extractGroupParamsData" class="resourceContainer col-md-3">
              <span>
                <a (click)="getSelectedNdJson(item.resourceName,item.resourceLink);">
                  <i class="material-icons">insert_drive_file</i> {{item.resourceName}}</a>
              </span>

            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<app-loading [isLoading]="isLoadingResults"></app-loading>
